<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configsections>
    <remove name="appSettings"/>
    <section name="appSettings" type="KeyVaultConfigurationHandler.KeyVaultHandler, KeyVaultConfigurationHandler"/>
  </configsections>
  <appSettings>
    <add key="Key" value="Value"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>